body {
    background-color: #212120;
    color: #F2F1EE;
    padding: 0;
    margin: 0;
font-family: 'Open Sans', sans-serif;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  background-color: #362036;
  padding: 20px;
  font-family: 'Archivo Black', sans-serif;
}
h4, h2 {
  color: white;
  margin: 3px;
}
button {
  background-color: red;
  text-transform: uppercase;
  border: none;
  padding: 5px;
}

article {
    max-width: 320px;
    padding: 10px;
    margin: 5px;
    display: inline-grid;
    background-color: #362036;
    border-radius: 10px;
    color: #F2F1EE;
}

article img {
    float: left;
    margin: 0 10px 10px 0;
    width: 300px;
}
a:visited, a:active, a {
  color: #81AD04;
}
